
{% extends 'base.html'%}

{% block content %}
   
<div class="container">
    <h2>Add Student and Update</h2>

   
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
  
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name='name'>
      </div>
      <div class="form-group">
        <label for="roll">Roll:</label>
        <input type="text" class="form-control" id="roll" name="roll">
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" class="form-control" id="city" name="city">
      </div>
      <div class="form-group">
        <label for="image">Image:</label>
        <input type="File" class="form-control" id="image" name="img">
      </div>
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

 {% endblock %}
